:host {
    display: block;
    overflow: hidden;

    &.collapsed {
        .collapse-content {
            padding: 0;
        }
    }

    &.disabled {
        .collapse-header {
            pointer-events: none;
        }
    }
}

.collapse-header {
    height: 30px;
    user-select: none;
    cursor: pointer;
    display: flex;
    background: var(--color-gray-1);
    padding: 0 20px;

    &:hover {
        background: var(--color-gray-2);

        .collapse-header-chevron {
            opacity: 0.7;
        }
    }

    .collapse-header-title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        flex: 1;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .collapse-header-chevron {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        transition: transform 0.25s;
        transform: rotate(0deg);
        opacity: 0.4;

        &.expanded {
            transform: rotate(90deg);
        }

        span {
            font-size: 20px !important;
        }
    }
}

.collapse-content {
    transition: padding .3s;
    padding: 4px 0;
}
