@import '../../../variables';

:host {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 2px 0;

    &:hover {
        background: var(--color-gray-1);
        outline: 2px solid var(--color-gray-1);

        .share-button,
        .quiz-button,
        .favorite-button {
            span {
                opacity: 0.7;
            }
        }
    }
}

button {
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.word-button {
    flex: 1;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;

    &.hidden-word {
        opacity: 0.5;
    }

    &.red-word {
        color: $sass-lipstick;
    }
}

.favorite-button {
    padding-right: 20px;
}

.share-button,
.quiz-button,
.favorite-button {
    color: var(--color-1);
    opacity: 0.4;

    span {
        font-size: 20px !important;
    }

    &:hover {
        opacity: 1;
    }

    span {
        opacity: 0;
    }

    &.active {
        span {
            opacity: 0.7;
        }
    }
}
