:host {
    display: inline-block;
    position: relative;
    height: 30px;
}

input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 6px 28px 6px 12px;
    outline: none;
    border: 1px solid var(--color-gray-3);
    border-radius: 2px;

    &:focus {
        border-color: var(--color-7);
        box-shadow: 0 0 0 1px var(--color-7);
    }
}

.icon {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    opacity: 0.4;

    span {
        font-size: 20px !important;
    }
}
