:host {
    display: block;
    position: relative;
    overflow: auto;
    height: calc(100% - var(--navigation-height));
    width: 100%
}

label {
    cursor: pointer;
    user-select: none;
}

.header {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;

    .input-wrapper {
        justify-content: center;
        flex-direction: column;
    }

    div {
        display: flex;
    }
}

.content {
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}

@media only screen and (min-height: 600px) {
    a-asl-word-button {
        width: 50%;
        display: inline-flex;
    }
}

@media only screen and (min-height: 900px) {
    a-asl-word-button {
        width: 33.33%;
        display: inline-flex;
    }
}
