<div class="header">
    <div class="input-wrapper">
        <a-input-search
            [value]="filterQuery"
            (valueChange)="onFilterQueryChange($event)"
        ></a-input-search>
    </div>

    <div>
        <input
            type="checkbox"
            [ngModel]="categoriesMode"
            (ngModelChange)="onCategoriesModeChange($event)"
            id="dictionary-page-categories-mode"
        >
        <label for="dictionary-page-categories-mode">
            <span></span>
            Categories
        </label>
    </div>

    <div>
        <input
            type="checkbox"
            [ngModel]="favoritesOnly"
            (ngModelChange)="onFavoritesOnlyChange($event)"
            id="dictionary-page-favorites-only"
        >
        <label for="dictionary-page-favorites-only">
            <span></span>
            Favorites
        </label>
    </div>
</div>

<div class="content">
    <ng-container *ngIf="!categoriesMode">
        <a-collapsable
            [disabled]="true"
            [title]="'Words'"
        >
            <a-asl-word-button
                *ngFor="let word of (filteredWords$ | async)"
                [word]="word"
                (wordClicked)="wordSelected(word)"
            ></a-asl-word-button>
        </a-collapsable>
    </ng-container>

    <ng-container *ngIf="categoriesMode">
        <a-collapsable
            *ngFor="let category of (filteredCategories$ | async)"
            [title]="category.name"
            [collapsed]="true"
        >
            <a-asl-word-button
                *ngFor="let word of category.words"
                [word]="word"
                (wordClicked)="wordSelected(word)"
            ></a-asl-word-button>
        </a-collapsable>
    </ng-container>
</div>
