<div class="header">
    <input
        type="text"
        placeholder="Filter"
        [ngModel]="filterQuery"
        (ngModelChange)="onFilterQueryChange($event)"
    >

    <label>
        <input
            type="checkbox"
            [ngModel]="categoriesMode"
            (ngModelChange)="onCategoriesModeChange($event)"
        >
        Categories
    </label>

    <label>
        <input
            type="checkbox"
            [ngModel]="favoritesOnly"
            (ngModelChange)="onFavoritesOnlyChange($event)"
        >
        Favorites
    </label>
</div>

<ng-container *ngIf="!categoriesMode">
    <a-collapsable
        [disabled]="true"
        [title]="'Words'"
    >
        <a-asl-word-button
            *ngFor="let word of (filteredWords$ | async)"
            [word]="word"
            (wordClicked)="wordSelected(word)"
        ></a-asl-word-button>
    </a-collapsable>
</ng-container>

<ng-container *ngIf="categoriesMode">
    <a-collapsable
        *ngFor="let category of categories"
        [title]="category.name"
    >
        <a-asl-word-button
            *ngFor="let word of category.words"
            [word]="word"
            (wordClicked)="wordSelected(word)"
        ></a-asl-word-button>
    </a-collapsable>
</ng-container>
