@import "~ng-snotify/styles/material";
@import 'variables';
@import 'checkbox';
@import 'fonts';

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    padding: 0;
    margin: 0;
    background: var(--color-3);
    color: var(--color-1);
}

::placeholder {
    color: var(--color-1);
    opacity: 0.4;
}

:-ms-input-placeholder {
    color: var(--color-1);
    opacity: 0.4;
}

::-ms-input-placeholder {
    color: var(--color-1);
    opacity: 0.4;
}

button {
    color: var(--color-1);
}

:root {
    --color-1: #231a33;
    --color-2: #fca48c;
    --color-3: #eeddb9;
    --color-4: #4f8979;
    --color-5: #64c8c1;
    --color-6: #c69b3f;
    --color-7: #e5d166;
    --color-8: #504935;

    --color-gray-1: #f8f7fd;
    --color-gray-2: #f4f2fc;
    --color-gray-3: #d8ddef;

    --navigation-height: 46px;

    --shadow-1: 0 4px 8px 0 rgb(99 102 150 / 25%);

    --transition-1: 0.3s;
}

html {
    $scrollbar-thumb-thickness: 10px;
    $scrollbar-thumb-radius: 8px;
    $color-scrollbar-thumb-border-color: rgb(255, 255, 255);
    $color-scrollbar-thumb-bg: rgba($sass-kimberly-lite, .5);
    $color-scrollbar-thumb-bg-hover: rgba($sass-kimberly-lite, .75);
    $color-scrollbar-thumb-bg-active: $sass-kimberly-lite;

    ::-webkit-scrollbar {
        -webkit-appearance: none; // hide default scrollbar

        &:vertical {
            width: $scrollbar-thumb-thickness;
        }

        &:horizontal {
            height: $scrollbar-thumb-thickness;
        }
    }

    ::-webkit-scrollbar-thumb {
        border-radius: $scrollbar-thumb-radius;
        border: 2px solid $color-scrollbar-thumb-border-color;
        background-color: $color-scrollbar-thumb-bg;

        // state
        &:hover {
            background-color: $color-scrollbar-thumb-bg-hover;
        }

        // state
        &:active {
            background-color: $color-scrollbar-thumb-bg-active;
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

cdk-virtual-scroll-viewport {
    height: 100%;
}

button.btn {
    margin: 20px auto;
    background: var(--color-4);
    border: 2px solid var(--color-4);
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    &:hover {
        background: var(--color-5);
    }

    &:active {
        background: var(--color-6);
    }

    &.secondary {
        color: white;
        background: var(--color-8);
        border: 2px solid var(--color-8);

        &:hover {
            background: var(--color-6);
        }

        &:active {
            background: var(--color-7);
        }
    }
}
