@import "~ng-snotify/styles/material";
@import 'variables';

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
    background: var(--color-3);
    color: var(--color-1);
}

button {
    color: var(--color-1);
}

:root {
    --color-1: #231a33;
    --color-2: #fca48c;
    --color-3: #eeddb9;
    --color-4: #4f8979;
    --color-5: #64c8c1;
    --color-6: #c69b3f;
    --color-7: #e5d166;
    --color-8: #504935;

    --navigation-height: 46px;

    --shadow-1: 0 4px 8px 0 rgb(99 102 150 / 25%);

    --transition-1: 0.3s;
}

html {
    $scrollbar-thumb-thickness: 10px;
    $scrollbar-thumb-radius: 8px;
    $color-scrollbar-thumb-border-color: rgb(255, 255, 255);
    $color-scrollbar-thumb-bg: rgba($sass-kimberly-lite, .5);
    $color-scrollbar-thumb-bg-hover: rgba($sass-kimberly-lite, .75);
    $color-scrollbar-thumb-bg-active: $sass-kimberly-lite;

    ::-webkit-scrollbar {
        -webkit-appearance: none; // hide default scrollbar

        &:vertical {
            width: $scrollbar-thumb-thickness;
        }

        &:horizontal {
            height: $scrollbar-thumb-thickness;
        }
    }

    ::-webkit-scrollbar-thumb {
        border-radius: $scrollbar-thumb-radius;
        border: 2px solid $color-scrollbar-thumb-border-color;
        background-color: $color-scrollbar-thumb-bg;

        // state
        &:hover {
            background-color: $color-scrollbar-thumb-bg-hover;
        }

        // state
        &:active {
            background-color: $color-scrollbar-thumb-bg-active;
        }
    }
}
