* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

:root {
    --color-1: #231a33;
    --color-2: #fca48c;
    --color-3: #eeddb9;
    --color-4: #4f8979;
    --color-5: #64c8c1;
    --color-6: #c69b3f;
    --color-7: #e5d166;
    --color-8: #504935;
}
