<nav>
    <div class="title">
        <div>VR ASL</div>
    </div>
    <div class="navigation-items">
        <a
            *ngFor="let item of navigationItems"
            class="navigation-item"
            [class.active]="isPathActive(item.path)"
            [routerLink]="item.path"
        >
            <span>
                {{ item.name }}
            </span>
        </a>
    </div>
    <div
        class="title"
        style="opacity: 0"
    >
        <div>VR ASL</div>
    </div>
</nav>
