<nav>
    <div class="title">
        <div>VR ASL</div>
    </div>
    <div class="navigation-items">
        <a
            *ngFor="let item of navigationItems"
            class="navigation-item"
            [class.active]="isPathActive(item.path)"
            [routerLink]="item.path"
        >
            <span>
                {{ item.name }}
            </span>
        </a>
    </div>
    <div class="theme-switch">
        <button (click)="switchTheme()">
            <span class="material-icons-round">
                {{ getTheme() === 'light' ? 'dark_mode' : 'light_mode' }}
            </span>
        </button>
    </div>
</nav>
